<!-- CSS -->

{{ $css := slice (resources.Get "base.css") (resources.Get "openring.css") | resources.Concat "main.css" | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" media="screen" href="{{ $css.RelPermalink }}">

{{ $min600px := resources.Get "min600px.css" | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" media="(min-width: 600px)" href="{{ $min600px.RelPermalink }}">

{{ $min769px := resources.Get "min769px.css" | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" media="(min-width: 769px)" href="{{ $min769px.RelPermalink }}">

<!-- Icon -->
<link rel="shortcut icon"
{{ if .Site.Params.faviconfile }}
    href="{{ .Site.Params.faviconfile | relURL }}"
{{ else }}
    href="{{ .Site.BaseURL }}img/favicon.ico"
{{ end }}
>

<!-- RSS -->
{{ if .RSSLink }}
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
{{ end }}
